body {
  font-size: 1.2rem;
}

h1 {
  display: block;
}

main {
  width: 70%;
  margin: 0 auto;
}

.accordion {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

.accordion__item {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  cursor: pointer;
  color: rgb(18, 53, 158);
  user-select: none;
}

.accordion__item:hover {
  color: black;
}

.accordion__header {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.accordion__header-icon {
  opacity: 0;
  transition: all .6s ease;
  -webkit-transition: all .6s ease;
}

.accordion:hover .accordion__header-icon {
  opacity: 1;
}

.accordion__content {
  visibility: collapse;
  opacity: 0;
  width: 50%;
  transition: all .6s ease;
  -webkit-transition: all .6s ease;
}

.accordion__item:hover .accordion__content {
  visibility: visible;
  opacity: 1;
}

.accordion__radio {
  opacity: 0;
}

.accordion__radio:checked + label > .accordion__content {
  visibility: visible;
  opacity: 1;
}

.accordion__radio:checked + label > .accordion__header > .accordion__header-text {
  color: black;
}

@media (max-width: 820px) {
  body {
    font-size: 1.1rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  main {
    width: 90%;
  }

  .accordion__content {
    width: 60%;
  }

  .accordion__item:hover .accordion__content {
    visibility: collapse;
    opacity: 0;
  }

  .accordion__header-icon {
    opacity: 1;
  }

  .accordion__item:hover {
    color: rgb(18, 53, 158);;
  }
}

@media (max-width: 320px) {
  body {
    font-size: 1rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .accordion__content {
    width: 80%;
  }

  .accordion__item {
    cursor: initial;
  }
}
